
<h2>Site overview: {{City.site}}</h2>
<p>Equipment list</p>
<table>
    <tr class="table_head" >
        <th *ngFor="let col of CityTable.columnName">{{col}}</th>
    </tr>
    <tr class="table_tr" *ngFor="let item of City.equips" routerLink="/city/{{City.site}}/diagram/{{item.equip_name}}">
        <td *ngFor="let def of CityTable.columnDefs">
            {{item[def]}}
        </td>
    </tr>
</table>

<br>
<div class="showAll" routerLink="/city/{{City.site}}/diagram/all">showAll Equipment in graph</div>