@import './../../../node_modules/c3/c3.min.css';
equip {
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.chartist-container {
    background: #243142e0;
    padding: 20px 0 0;
}

#lineChart {
    color: black
}

.legend{
  text-align: right
}
.legend-item{
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: white;
  margin: 0 15px 5px 0;
  font-size: 14px;
}

.legend-items-color {
  display: inline-block;
  width: 3px;
  height: 15px;
  vertical-align: text-top;
}

.legend-items-checkbox {
  margin: 0 3px 0 4px;
}

.legend-item[data-hide="true"] .legend-items-checkbox{
  opacity: 0.3;
}


#lineChart.c3 .c3-axis-x path,
#lineChart.c3 .c3-axis-x line,
#lineChart.c3 .c3-axis-y path,
#lineChart.c3 .c3-axis-y line {
  stroke: white;
}

#lineChart.c3 .c3-axis-x g,
#lineChart.c3 .c3-axis-y g,
#lineChart.c3 .c3-legend-item-data text,
#lineChart.c3 .c3-axis-y-label,
#lineChart.c3 .c3-axis-x-label,
#lineChart.c3 .c3-legend-item {
  fill: white;
}

/*when displaying the data on the chart */
#lineChart.c3 text.c3-text { 
  fill: white!important;
  stroke: white!important;
  stroke-opacity: 0.3!important;
}

/* for the tooltip text color */
#lineChart .c3 .c3-tooltip-container {
  color:darkgrey;
}

.c3 svg {
  font: 11px sans-serif;
}